<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>

<body class="bg-secondary">
    <div class="container">
        <table class="table container-md mt-5">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Data de agendamento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{nome}}</td>
                    <td>{{endereco}}</td>
                    <td>{{telefone}}</td>
                    <td>{{dataAgendamento}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>